<style>
    .jumbotron {
        background-image: url('');
        background-size: cover;
        height: 20vw;
        }
</style>

<div class="container">
        <img src="{{blog_item.image_url}}" alt="" srcset="" style="height: 20vw; object-fit: cover; width: 100%;">
</div>
<div class="heading">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
            {{blog_item.title}}
    </h3>
</div>
<div class="insight">
    <p class="insight-define">
        {{blog_item.description}}
    </p>
</div>