{% extends "base.html" %}

{% block app_content %}
<section id="admin-details">
    <div class="heading">
        <h2>{{blog_item.title}}</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 push-sm-12 px-4">
            <ul class="list-group">
                <li class="list-group-item">Category: {{ blog_item.category.name | capitalize}} </li>
                <li class="list-group-item">Description: {{blog_item.description}}</li>
            </ul>
            <br>
            <div class="text-left">
                <a class="btn btn-secondary" href="{{ url_for('admin.index') }}"> Go Back</a>
            </div>
        </div>
        <div class="text-center col-lg-6 col-sm-12 px-4">
            <img src="{{ blog_item.image_url }}" class="img-target" style="max-height:600px; max-width:400px;" alt="your image" />
        </div>
    </div>
</section>
{% endblock  %}