<section id="navigation">
    <nav class="navbar sticky-top navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="" width="80" height="80" class="rounded-lg d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="container">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for('intro.index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#practice">Practice</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('team.index')}}">Team</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#client-section">Client Care</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('blog.index')}}">Insights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-section">Contact</a>
            </li>
           
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a href="" class="nav-link-disabled"></a>
                </li>
                
            {% else %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">
                        Manage Insights
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('account.logout') }}" class="nav-link">{{('Logout') }}</a>
                </li>
            {% endif %}
        </div>
        </ul>
        </div>
    </nav>
</section>